<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-10 col-md-6 mt-5">
      <div class="col-12 text-center pb-2">
        <p class="title-p fw-bold text-main text-color fs-4">アカウント登録</p>
      </div>
    </div>
  </div>
</div>

<div class="row d-flex justify-content-center align-items-center">
  <div class="col-10 col-md-6">
    <%= form_with model: @animal_care_group, url: animal_care_group_registration_path, class: 'text-center mb-4' do |f| %>
      <div class="div-title mb-4" style="padding-top: 1rem; padding-bottom: 1rem;">
        <div class="text-start">
          <%= f.label :name, class: 'text-start text-main text-color fw-bold mb-2', value: '名前' %>
          <%= f.text_field :name, autofocus: true, class: 'form-control py-md-3 rounded bg-white box-shadow mb-3' %>
        </div>

        <div class="text-start">
          <%= f.label :email, class: 'text-start text-main text-color fw-bold mb-2 fs-6', value: 'メールアドレス' %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control py-md-3 rounded bg-white box-shadow mb-3' %>
        </div>

        <div class="text-start">
          <%= f.label :password, class: 'text-start text-main text-color fw-bold mb-2', value: 'パスワード' %>
          <%= f.password_field :password, autofocus: true, class: 'form-control py-md-3 rounded bg-white box-shadow mb-3' %>
        </div>

        <div class="text-start">
          <%= f.label :password_confirmation, class: 'text-start text-main text-color fw-bold mb-2', value: 'パスワード確認用（再入力）' %>
          <%= f.password_field :password_confirmation, autofocus: true, class: 'form-control py-md-3 rounded bg-white box-shadow mb-3' %>
        </div>
      </div>

      <div class="text-start">
        <%= f.submit "新規登録する", class: 'btn fw-bold rounded py-md-3 w-30 text-white', style: 'background-image: linear-gradient(to left, #fedc40, #f75d8b); box-shadow: none;' %>
      </div>
    <% end %>
  </div>
</div>
