<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-10 col-md-6 mt-5">
      <div class="row justify-content-center align-items-center mb-4">
        <div class="col-12 text-center">
          <% if current_veterinarian.avatar.present? %>
            <%= image_tag current_veterinarian.avatar.url, style: "width: 50px; height: 50px; border-radius: 50%; float: left;" %>
          <% else %>
            <p>No avatar uploaded</p>
          <% end %>
          <p class="title-p fw-bold text-main text-color fs-4" style="display: inline-block;">アカウント</p>
        </div>
      </div>

      <div class="row justify-content-center align-items-center">
        <div class="col-10 col-md-10">
          <table style="table-layout: fixed;">
            <tbody>
              <tr>
                <th class="text-start" style="width: 150px;">名前</th>
                <td class="text-start" style="vertical-align: middle;"><%= current_veterinarian.name %></td>
              </tr>
              <tr>
                <th class="text-start" style="width: 150px;">メール</th>
                <td class="text-start" style="vertical-align: middle;"><%= current_veterinarian.email %></td>
              </tr>
              
           
              <tr>
                <th class="text-start" style="width: 150px;">専門分野</th>
                <td class="text-start" style="vertical-align: middle;"><%= current_veterinarian.category.name%></td>
              </tr>
              <tr>
                <th class="text-start" style="width: 150px;">簡易履歴書</th>
                <td class="text-start" style="vertical-align: middle;">
                  <% if current_veterinarian.resume.present? %>
                    <%= image_tag current_veterinarian.resume.url, size: '100x100'%>
                  <% else %>
                    <p>登録されていません</p>
                  <% end %>
                </td>
              </tr>
              <tr>
                <th class="text-start" style="width: 150px;">獣医師免許</th>
                <td class="text-start" style="vertical-align: middle;">
                  <% if current_veterinarian.license.present? %>
                    <%= image_tag current_veterinarian.license.url, size: '100x100' %>
                  <% else %>
                    <p>登録されていません</p>
                  <% end %>
                </td>
              </tr>
              
             <tr>
                <th class="text-start">第一対応可能</th>
                <td class="text-start" style="vertical-align: middle;"><%= current_veterinarian.available_date1%></td>
              </tr>
             <tr>
                <th class="text-start">第二対応可能</th>
                <td class="text-start" style="vertical-align: middle;"><%= current_veterinarian.available_date2%></td>
              </tr>
               <tr>
                <th class="text-start">第三対応可能</th>
                <td class="text-start" style="vertical-align: middle;"><%= current_veterinarian.available_date3%></td>
              </tr>
                          
            </tbody>
          </table>
        </div>
      </div>

      <%= form_with model: @veterinarian, url: veterinarian_registration_path, class: 'text-center mb-4' do |f| %>
        <!-- フォームの内容 -->
      <% end %>
    </div>
  </div>
</div>
