<div class="container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col d-flex justify-content-center text-center mt-5">
      <div class="col-10 col-md-6 mt-5">
        <div class="col-12 text-center pb-2">
          <p class="title-p fw-bold text-main text-color fs-4">無料新規会員登録</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-10 col-md-6">
      <%= form_with model: @veterinarian, url: veterinarian_registration_path, class: 'text-center mb-4', local: true do |f| %>
        <div class="div-title mb-4">
          <div class="text-start">
            <%= f.label :name, class: 'text-start text-main text-color fw-bold mb-2 pt-4', value: '名前' %>
            <span class="p_required">必須</span>
            <%= f.text_field :name, autofocus: true, class: 'form-control py-md-3 rounded bg-white box-shadow mb-3' %>       
          
            <%= f.label :email, class: 'text-start text-main text-color fw-bold mb-2 fs-6', value: 'メールアドレス' %>
            <span class="p_required">必須</span>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control py-md-3 rounded bg-white box-shadow mb-3' %>
            
            <%= f.label :password, class: 'text-start text-main text-color fw-bold mb-2 pt-4', value: 'パスワード' %>
            <span class="p_required">必須</span>
            <%= f.password_field :password, autofocus: true, class: 'form-control py-md-3 rounded bg-white box-shadow mb-3' %>
           
            <%= f.label :password_confirmation, class: 'text-start text-main text-color fw-bold mb-2 pt-4', value: 'パスワード確認用（再入力）' %>
            <span class="p_required">必須</span>
            <%= f.password_field :password_confirmation, autofocus: true, class: 'form-control py-md-3 rounded bg-white box-shadow mb-3' %>      
          </div>
          
          <div class="div-title mb-4">
            <div class="text-start">
              <div class="img-select">
                <div class="text-start">
                  <%= f.label :avatar, class: 'text-start text-main text-color fw-bold mb-2 pt-4', value: 'ユーザー画像登録' %>
                  <span class="p_required">必須</span>
                </div>
                <%= f.file_field :avatar %>
              </div>
  <!--ログイン後表示            -->
              <!--<div class="img-select">-->
              <!--  <div class="text-start">-->
              <!--    <%= f.label :license, class: 'text-start text-main text-color fw-bold mb-2 pt-4', value: '獣医師免許' %>-->
              <!--    <span class="p_required">必須</span>-->
              <!--  </div>-->
              <!--  <%= f.file_field :license %>-->
              <!--</div>      -->
      
              <!--<div class="img-select">-->
              <!--  <div class="text-start">-->
              <!--    <%= f.label :resume, class: 'text-start text-main text-color fw-bold mb-2 pt-4', value: '簡易履歴書' %>-->
              <!--    <span class="p_required">必須</span>-->
              <!--  </div>-->
              <!--  <%= f.file_field :resume %>-->
              <!--</div>  -->
              

                
              <!--<div class="div-title mb-4">-->
              <!--  <div class="text-start">-->
              <!--    <%= f.label :available_dates, class: 'text-start text-main text-color fw-bold mb-2 pt-4', value: '対応可能日' %>-->
              <!--    <span class="p_required">任意</span>-->
              <!--    <%= f.text_field :available_dates, class: 'form-control', placeholder: '2023年1月1日' %>-->
              <!--  </div>-->
              <!--</div>-->
           
           </div>       
          </div>
          

          <div class="text-start">
            <div>
              <button class="btn fw-bold rounded py-md-3 w-100 text-white" type="submit" style="background-image: linear-gradient(to left, #fedc40, #f75d8b); box-shadow: none;">新規登録</button>
            </div>
          </div>

                  
       <% end %>
      </div>
    </div>
  </div>

</div>

