<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-10 col-md-6 mt-5">
      <div class="col-12 text-center pb-2">
        <p class="title-p fw-bold text-main text-color fs-4">アカウント編集</p>
      </div>
    </div>
  </div>
</div>

  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-10 col-md-6">
      <%= form_with model: @veterinarian, url: veterinarian_registration_path, class: 'text-center mb-4' do |f| %>
        <div class="div-title mb-4">
          <div class="text-start">
            <%= f.label :name, class: 'text-start text-main text-color fw-bold mb-2 pt-4', value: '名前' %>
            <%= f.text_field :name, autofocus: true, class: 'form-control py-md-3 rounded bg-white box-shadow mb-3' %>       
          
            <%= f.label :email, class: 'text-start text-main text-color fw-bold mb-2 fs-6', value: 'メールアドレス' %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control py-md-3 rounded bg-white box-shadow mb-3' %>
            
            <%= f.label :password, class: 'text-start text-main text-color fw-bold mb-2 pt-4', value: 'パスワード' %>
            <%= f.text_field :password, autofocus: true, class: 'form-control py-md-3 rounded bg-white box-shadow mb-3' %>

            <%= f.label :password_confirmation, class: 'text-start text-main text-color fw-bold mb-2 pt-4', value: 'パスワード確認用（再入力）' %>
            <%= f.text_field :password_confirmation, autofocus: true, class: 'form-control py-md-3 rounded bg-white box-shadow mb-3' %>      

         </div>
          
          <div class="div-title mb-4">
            <div class="text-start">
              <div class="img-select">
                <div class="text-start">
                  <%= f.label :avatar, class: 'text-start text-main text-color fw-bold mb-2 pt-4', value: 'ユーザー画像登録' %>
                </div>
                <%= f.file_field :avatar %>
              </div>
              
              <div class="img-select">
                <div class="text-start">
                  <%= f.label :license, class: 'text-start text-main text-color fw-bold mb-2 pt-4', value: '獣医師免許' %>
                  <span class="p_required">必須</span>
                </div>
                <%= f.file_field :license %>
              </div>
              
              <div class="img-select">
                <div class="text-start">
                  <%= f.label :resume, class: 'text-start text-main text-color fw-bold mb-2 pt-4', value: '簡易履歴書' %>
                  <span class="p_required">必須</span>
                </div>
                <%= f.file_field :resume %>
              </div>
              
              <div class="div-title mb-4 mt-4">
                <div class="text-start">
                  <select class="form-select" id="exampleFromSelect1">
                    <option value="0">専門分野を選択</option>
                    <option value="1">1. 哺乳類</option>
                    <option value="2">2. 鳥類</option>
                    <option value="3">3. 爬虫類</option>
                    <option value="4">4. 両生類</option>
                    <option value="5">5. その他</option>
                  </select>
                </div>
              </div>

              
              <div class="div-title mb-4">
                <div class="text-start">
                  <%= f.label :available_dates1, '第一対応可能日', class: 'form-label' %>
                  <%= f.date_field :available_dates1, class: 'form-control', data: { behavior: 'flatpickr' } %>
                </div>
              </div>

              <div class="div-title mb-4">
                <div class="text-start">
                  <%= f.label :available_dates2, '第二対応可能日', class: 'form-label' %>
                  <%= f.date_field :available_dates2, class: 'form-control', data: { behavior: 'flatpickr' } %>
                </div>
              </div>


              <div class="div-title mb-4">
                <div class="text-start">
                  <%= f.label :available_dates3, '第三対応可能日', class: 'form-label' %>
                  <%= f.date_field :available_dates3, class: 'form-control', data: { behavior: 'flatpickr' } %>
                </div>
              </div>

               <div class="text-start">
                  <%= link_to "アカウント更新", veterinarian_registration_path, class: 'btn fw-bold rounded py-md-3 w-30 text-white', style: 'background-image: linear-gradient(to left, #fedc40, #f75d8b); box-shadow: none;' %>
                </div>
              </div>
            </div>
                      
        
       <% end %>
      </div>
    </div>
  </div>
</div>


  
    