<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-10 col-md-6 mt-5">
      <div class="col-12 text-center pb-2">
        <p class="title-p fw-bold text-main text-color fs-4">アカウント編集</p>
      </div>
    </div>

    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-10 col-md-6">
        <%= form_with model: @veterinarian, url: veterinarian_registration_path, class: 'text-center mb-4' do |f| %>
          <div class="div-title mb-4" style="padding-top: 1rem; padding-bottom: 1rem;">
            <div class="text-start">
              <%= f.label :name, class: 'text-start text-main text-color fw-bold mb-2', value: '名前' %>
              <%= f.text_field :name, autofocus: true, class: 'form-control py-md-3 rounded bg-white box-shadow mb-3' %>
            </div>
          
            <div class="text-start">
              <%= f.label :email, class: 'text-start text-main text-color fw-bold mb-2 fs-6', value: 'メールアドレス' %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control py-md-3 rounded bg-white box-shadow mb-3' %>
            </div>
            
            <div class="text-start">
              <%= f.label :password, class: 'text-start text-main text-color fw-bold mb-2', value: 'パスワード' %>
              <%= f.text_field :password, autofocus: true, class: 'form-control py-md-3 rounded bg-white box-shadow mb-3' %>
            </div>
    
            <div class="text-start">
              <%= f.label :password_confirmation, class: 'text-start text-main text-color fw-bold mb-2', value: 'パスワード確認用（再入力）' %>
              <%= f.text_field :password_confirmation, autofocus: true, class: 'form-control py-md-3 rounded bg-white box-shadow mb-3' %>
            </div>
         </div>
          
          <div class="div-title mb-4">
            <div class="text-start">
              <div class="img-select">
                <div class="text-start">
                  <%= f.label :avatar, class: 'text-start text-main text-color fw-bold mb-2 pt-4', value: 'ユーザー画像登録' %>
                </div>
                <%= f.file_field :avatar %>
              </div>
              <div class="img-select">
                <div class="text-start">
                  <%= f.label :license, class: 'text-start text-main text-color fw-bold mb-2 pt-4', value: '獣医師免許' %>
                  <span class="p_required">必須</span>
                </div>
                <%= f.file_field :license %>
              </div>
              <div class="img-select">
                <div class="text-start">
                  <%= f.label :resume, class: 'text-start text-main text-color fw-bold mb-2 pt-4', value: '簡易履歴書' %>
                  <span class="p_required">必須</span>
                </div>
                <%= f.file_field :resume %>
              </div>
              <div class="div-title mb-4 mt-4">
                <div class="text-start">
                  
                  <%= f.collection_select(:category_id, Category.all, :id, :name, {prompt:"専門分野を選択"}, {class:'form-select'}) %>
                </div>
              </div>
      
              <div class="text-start">
                <%= f.label :card_title, 'タイトル', class: 'title-p fw-bold text-main' %>
              </div>
              <%= f.text_field :card_title, class: 'form-control py-md-3 rounded bg-white box-shadow mb-3', placeholder: '例：小犬の病気に詳しい獣医師' %>
        
              <div class="text-start">
                <%= f.label :motto, 'コメント', class: 'title-p fw-bold text-main', style: 'margin-bottom: 0;' %>
              </div>
              <%= f.text_area :motto, placeholder:"意気込みやモットー等を書いてください（最大50文字）", style: "width: 100%; height: 80px; margin-bottom: 0;" %>
      
              <div class="text-start">
                <p>第一対応可能日</p>
                <%= f.date_select :available_date1, { start_year: 2023 } %>
              </div>
              <div class="text-start">
                <p>第二対応可能日</p>
                <%= f.date_select :available_date2, { start_year: 2023 } %>
              </div>
              <div class="text-start">
                <p>第三対応可能日</p>
                <%= f.date_select :available_date3, { start_year: 2023 } %>
              </div>
                
              <div class="text-start">
                <%= f.submit "投稿する", class: 'btn fw-bold rounded py-md-3 w-30 text-white', style: 'background-image: linear-gradient(to left, #fedc40, #f75d8b); box-shadow: none;' %>
              </div>          
            </div>
          </div>
        </div>
      </div>
　   <% end %>
  </div>
</div>



  
    