<div class="l-main">
  <div class="l-main__header">
    <h2 class="l-main__header__title">ログインテスト</h2>
  </div>
  <div class="l-form">
    <%= form_with model: @veterinarian, url: session_path(@veterinarian), class: 'p-form__input', local: true do |f| %>
      <div class="p-form__input-field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="p-form__input-field">
        <%= f.label :password %>
        <br>
        <%= f.password_field :password, autocomplete: "current-password", type: "password" %>
      </div>
    
      
      <div class="p-form__input-submit">
        <%= f.submit "ログインする", class: 'p-button c-button--submit' %>
      </div>
    <% end %>
  </div>
</div>
